* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: 0.4s;
}

*,*::after,*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
}

button{
    cursor: pointer;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
}
 

.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--primaryColor);
    font-size: 22px;
    padding: 4px 10px;
    border-radius: 2px;
    color: var(--secondaryColor);
    display: none;
}

.show__back-top{
    display: block !important;
}

body{
    background: var(--secondaryColor);
    color: var(--thirdColor);
}
p{
    color: var(--textColor);
}

h1{
    font-size: var(--h1size);
}

